logic-apps/adf-auto-remediation-logicapp.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "defaultValue": "adf-auto-remediation",
      "metadata": {
        "description": "Name of the Logic App for ADF auto-remediation"
      }
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "metadata": {
        "description": "Location for the Logic App"
      }
    },
    "subscriptionId": {
      "type": "string",
      "metadata": {
        "description": "Azure subscription ID where ADF is located"
      }
    },
    "resourceGroupName": {
      "type": "string",
      "metadata": {
        "description": "Resource group name where ADF is located"
      }
    },
    "dataFactoryName": {
      "type": "string",
      "metadata": {
        "description": "Name of the Azure Data Factory"
      }
    },
    "adfConnectionName": {
      "type": "string",
      "defaultValue": "azuredatafactory",
      "metadata": {
        "description": "Name of the ADF API Connection"
      }
    }
  },
  "variables": {
    "adfApiVersion": "2017-09-01-preview"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[parameters('adfConnectionName')]",
      "location": "[parameters('location')]",
      "properties": {
        "displayName": "ADF Connection for Auto-Remediation",
        "api": {
          "id": "[concat('/subscriptions/', parameters('subscriptionId'), '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azuredatafactory')]"
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[parameters('logicAppName')]",
      "location": "[parameters('location')]",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('adfConnectionName'))]"
      ],
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "triggers": {
            "When_RCA_sends_auto_remediation_request": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pipeline_name": {
                      "type": "string"
                    },
                    "ticket_id": {
                      "type": "string"
                    },
                    "error_type": {
                      "type": "string"
                    },
                    "original_run_id": {
                      "type": "string"
                    },
                    "retry_attempt": {
                      "type": "integer"
                    },
                    "max_retries": {
                      "type": "integer"
                    },
                    "remediation_action": {
                      "type": "string"
                    },
                    "timestamp": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "pipeline_name",
                    "ticket_id",
                    "error_type",
                    "remediation_action"
                  ]
                }
              }
            }
          },
          "actions": {
            "Log_Remediation_Request": {
              "type": "Compose",
              "inputs": {
                "message": "Starting ADF pipeline auto-remediation",
                "pipeline_name": "@{triggerBody()?['pipeline_name']}",
                "ticket_id": "@{triggerBody()?['ticket_id']}",
                "error_type": "@{triggerBody()?['error_type']}",
                "retry_attempt": "@{triggerBody()?['retry_attempt']}",
                "timestamp": "@{utcNow()}"
              },
              "runAfter": {}
            },
            "Create_ADF_Pipeline_Run": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuredatafactory']['connectionId']"
                  }
                },
                "method": "post",
                "path": "[concat('/subscriptions/@{encodeURIComponent(''', parameters('subscriptionId'), ''')}/resourcegroups/@{encodeURIComponent(''', parameters('resourceGroupName'), ''')}/providers/Microsoft.DataFactory/factories/@{encodeURIComponent(''', parameters('dataFactoryName'), ''')}/pipelines/@{encodeURIComponent(triggerBody()?[''pipeline_name''])}/CreateRun')]",
                "queries": {
                  "x-ms-api-version": "[variables('adfApiVersion')]"
                }
              },
              "runAfter": {
                "Log_Remediation_Request": [
                  "Succeeded"
                ]
              }
            },
            "Success_Response": {
              "type": "Response",
              "kind": "Http",
              "inputs": {
                "statusCode": 200,
                "body": {
                  "status": "success",
                  "run_id": "@{body('Create_ADF_Pipeline_Run')?['runId']}",
                  "message": "ADF pipeline re-run triggered successfully",
                  "pipeline_name": "@{triggerBody()?['pipeline_name']}",
                  "ticket_id": "@{triggerBody()?['ticket_id']}",
                  "error_type": "@{triggerBody()?['error_type']}",
                  "retry_attempt": "@{triggerBody()?['retry_attempt']}",
                  "timestamp": "@{utcNow()}"
                }
              },
              "runAfter": {
                "Create_ADF_Pipeline_Run": [
                  "Succeeded"
                ]
              }
            },
            "Failure_Response": {
              "type": "Response",
              "kind": "Http",
              "inputs": {
                "statusCode": 500,
                "body": {
                  "status": "failed",
                  "message": "Failed to trigger ADF pipeline re-run",
                  "error": "@{body('Create_ADF_Pipeline_Run')}",
                  "error_code": "@{actions('Create_ADF_Pipeline_Run')?['error']?['code']}",
                  "error_message": "@{actions('Create_ADF_Pipeline_Run')?['error']?['message']}",
                  "pipeline_name": "@{triggerBody()?['pipeline_name']}",
                  "ticket_id": "@{triggerBody()?['ticket_id']}",
                  "timestamp": "@{utcNow()}"
                }
              },
              "runAfter": {
                "Create_ADF_Pipeline_Run": [
                  "Failed",
                  "TimedOut"
                ]
              }
            }
          },
          "outputs": {},
          "parameters": {
            "$connections": {
              "type": "Object",
              "defaultValue": {}
            }
          }
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuredatafactory": {
                "id": "[concat('/subscriptions/', parameters('subscriptionId'), '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azuredatafactory')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('adfConnectionName'))]",
                "connectionName": "[parameters('adfConnectionName')]"
              }
            }
          }
        }
      }
    }
  ],
  "outputs": {
    "logicAppUrl": {
      "type": "string",
      "value": "[listCallbackURL(concat(resourceId('Microsoft.Logic/workflows', parameters('logicAppName')), '/triggers/When_RCA_sends_auto_remediation_request'), '2017-07-01').value]"
    },
    "logicAppName": {
      "type": "string",
      "value": "[parameters('logicAppName')]"
    },
    "adfConnectionName": {
      "type": "string",
      "value": "[parameters('adfConnectionName')]",
      "metadata": {
        "description": "ADF API Connection name - Authorize this connection in Azure Portal after deployment"
      }
    }
  }
}
